button {
    width: 40px;
    height: 20px;
}

body {
    /* button position set */
    display: flex;
    justify-content: center;
    align-items: center;
    /* body color */
    background-color: white;
    color: black;
}
  
.dark-mode {
    /* dark-mode class */
    background-color: black;
    color: white;
}

/*  
*   button onclick fade animation for a bit second
*/